body {
    background: rgb(145, 53, 114);
    color: rgb(23, 21, 117);
    padding: 10px;
    font-family: arial;

}
#all-contents {
    max-width: 800px;
        margin: auto;
}

/* navigation menu */
nav {
    background: rgb(239, 80 41);
    marin: 0 auto;
     display: flex;
     padding: 10px;
}
h1 {
     display: flex;
     align-items: center;
     color: rgb(15, 33, 192);
     flex: 1;
     margin: 0;
}
#nav-ul {
    list-styleimage: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #000000;
}

/* main container area beneath menu */
main {
    background: rgb(81, 209, 231);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(31, 55, 163) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
 /* portfolio styles */
 .content h1 {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #c21111;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #000000;
}

#portfolio a {
    text-decoration: none;
    color: #ec5252;
}